* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'norsebold';
    src: url('../scribbles/css/fonts/roboto/Roboto-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;

}

html {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

body {
    font-family: 'norsebold';
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 8em;
}

.form-container {
    display: flex;
    margin: 5em;
    justify-content: center;
}

form {
    display: flex;
}

.container {
    display: flex;
    margin: 5em;
    margin-right: 2em;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    color: #5b5d5f;
    margin-right: 3em;
    padding-bottom: .8em;
    
}

.cards {
    font-size: larger;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 6em;
    padding: 1em;
    width: 10em;
    border-bottom: 1.5px solid #d2d4d6;
    height: 5em;
    color: #5b5d5f;
    
}


input,
select {
    border: 1.5px solid #d2d4d6;
    width: 6em;
    padding: 1em;
    width: 10em;
}

;


input,
button,
textarea,
select {
    font: inherit;
}

.end {
    display: flex;
}

.addBtn {
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    background-color: #60A5FA;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 4px;
    width: 220px;
    font-weight: bold;
    border: none;
    height: 50px;
    font-size: 24px;;
}

.delete {
    margin-top: 5em;
}
.deleteButton {
    color: rgb(255, 255, 255);
    background-color: #F87171;
    padding: 5px;
    border-radius: 4px;
    width: 220px;
    font-weight: bold;
    border: none;
    margin-bottom: 3em;
    height: 50px;
}

select:focus,
input:focus {
    border: none;
    outline: solid 1.5px rgb(113, 113, 237);
    box-shadow: 0 0 10px rgb(113, 113, 237)
}

.read::after {
    content: "";
    background-image: url(../scribbles/css/pictures/click-svgrepo-com.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.read:hover {
    font-weight: bold;
    cursor: pointer;
}

.read {
    color: green;
}


.form-card {
    width: 190px;
}